*{
    padding:0;
    margin:0;
    box-sizing:content-box;
}
.button{
    height:20px;
    width:20px;
    color : black;
    background-color: rgb(216, 166, 91);
}
header {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(130, 156, 179);
    color: rgb(77,39,39);
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a{
    text-decoration: none;
    color:rgb(77,39,39);
  }
  #head{
    height:100px;
    display:flex;
    padding: 70px 20px;
    padding-left: 400px; 
    /* text-align: center; */
    color:rgb(77,39,39);
  }
  .bandarban{
    height:700px;
    font-size: 19px;
    color:rgb(16, 8, 8);
    background-image: url(bandarban2.jpg);
    background-size: cover;
  } 
  .bandarban a{
    height:40px;
    width:90px;
    font-size: 10px;
    font-weight:700;
    font-family: sans-serif;
    text-transform:uppercase;
    /* background: rgba(70, 17, 17, 0.502); */
    letter-spacing: 1px;
    display:flex;
    padding : 10px 20px;
    margin-top: 120px;
    margin-left:40px;
    color : white;
  }   
  #head1{
    height:100px;
    display:flex;
    padding: 70px 20px;
    padding-left: 400px; 
    /* text-align: center; */
    color:rgb(77,39,39);
  }
  .khagrachari{
    height:700px;
    font-size: 19px;
    color:rgb(16, 8, 8);
    background-image: url(khagrachari2.jpeg);
    background-size: cover;
  } 
  .khagrachari a{
    height:40px;
    width:90px;
    font-size: 10px;
    font-weight:700;
    font-family: sans-serif;
    text-transform:uppercase;
    /* background: rgba(70, 17, 17, 0.502); */
    letter-spacing: 1px;
    display:flex;
    padding : 10px 20px;
    margin-top: 120px;
    margin-left:40px;
    color : white;
  }
    